.container {
    width: 100%;
  	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/container-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 3%;
    width: 80%;
    height: 85%;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.links {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.link {
    margin: 0 3%;
    width: 20%;
    height: 23%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.5s;
}

.wkf {
    background-image: url(../img/wkf-logo.png);
}

.facebook {
    background-image: url(../img/facebook.png);
}

.instagram {
    background-image: url(../img/instagram.png);
}

.link:hover {
    transform: scale(1.1);
}

.link a {
    height: 100%;
    display: block;
}

.text-header {
    margin-left: 10vw;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-head {
    margin: 1vw 0 0 0;
    text-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.subhead {
    margin-bottom: 2vw;
    font-size: 1.4vw;
    color: #ffdc23;
}

.big {
    font-size: 11vh;
    line-height: 0.85;
}

.small {
    font-size: 7vh;
}

.scroll {
    margin-bottom: 3%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.arrow {
    display: block;
    width: 3%;
    height: 100%;
    background-image: url(../img/scroll.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    transition: 0.5s;
}

.arrow:hover {
    transform: scale(1.1);
}