.copyright {
	padding: 0 10%;
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #212121;
	color: white;
	font-size: 0.8vw;
}

.copyright p {
	margin: 0.3vw;
}

.copyright a {
	text-decoration: none;
	color: #ffdc23;
}