/** HEADER WITH IMAGE */

.container {
    width: 100%;
  	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/container-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 3%;
    width: 65%;
    height: 70%;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.links {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.link {
    margin: 0 3%;
    width: 20%;
    height: 23%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.5s;
}

/* .wkf {
    background-image: url(../img/wkf-logo.png);
} */

.facebook {
    background-image: url(../img/facebook.png);
}

.instagram {
    background-image: url(../img/instagram.png);
}

.link:hover {
    transform: scale(1.1);
}

.link a {
    height: 100%;
    display: block;
}

.text-header {
    margin-left: 10vw;
    padding-bottom: 5%;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-head {
    margin: 1vw 0 0 0;
    text-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.subhead {
    margin-bottom: 2vw;
    font-size: 1.4vw;
    color: #ffdc23;
}

.big {
    font-size: 11vh;
    line-height: 0.85;
}

.small {
    font-size: 7vh;
}

.scroll {
    margin-bottom: 3%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.arrow {
    display: block;
    width: 3%;
    height: 100%;
    background-image: url(../img/scroll.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    transition: 0.5s;
}

.arrow:hover {
    transform: scale(1.1);
}


/** ABOUT US */

.oficial {
    padding-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
  	height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.pic-oficial {
    margin-right: 10vw;
    width: 35vw;
    height: 40vw;
    background-image: url(../img/oficial-pic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

.text-oficial {
    margin-left: 10vw;
    width: 43vw;
    height: 40vw;
}

.subhead-oficial {
    font-size: 1.4vw;
    font-weight: bold;
    color: #545454;
}

.subhead-oficial p {
    margin: 0;
    padding: 0;
}

.header-oficial {
    font-size: 2.2vw;
    font-weight: bold;
}

.main-oficial {
    display: flex;
    flex-direction: row;
}

.oficial-hr {
    margin: 1.4vw 1vw 0 0;
    width: 5vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: lighter;
    color: #545454;
}

.oficial-hr hr {
    border: none;
    background-color: #ffdc23;
    height: 3px;
}

.oficial-hr p {
    padding: 0;
    margin: 0;
}

.smalltext-oficial {
    width: 35vw;
    font-size: 1vw;
    line-height: 1.65;
    text-align: justify;
    color: #545454;
}

.small-subhead-oficial {
    font-weight: bold;
    font-size: 1.2vw;
    color: black;
}


/** MENU OPTIONS */

/* .menu-all {
    padding: 2vw 11vw 2vw 10.5vw;
    width: 100%;
  	height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.menu {
    width: 78%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section {
    padding: 2vw 0;
	width: 20%;
	height: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease;
	font-size: 1.5vw;
}

.section:hover {
	transform: scale(1.1);
}

.logo-menu {
    margin-top: 1vw;
	width: 8vw;
	height: 5vw;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.menuname {
    margin-top: 0.5vw;
	height: 20%;
	font-weight: bold;
}

.menutext {
	height: 20%;
	color: #545454;
	font-size: 1vw;
	font-weight: 400;
    line-height: 1.65;
	text-align: justify;
}

.copii {
    background-image: url(../img/copii.png);
}

.adult {
    background-image: url(../img/adulti.png);
}

.terapia {
    background-image: url(../img/sanatate.png);
}

.sportiv {
    background-image: url(../img/cariera.png);
} */


/** VIDEO */

.with-video {
    padding: 0 10vw;
    display: flex;
    flex-direction: row;
}

.video-text {
    margin-left: 5vw;
    width: 40vw;
    height: 30vw;
    text-align: justify;
}

.video {
    margin-bottom: 10vh;
    width: 39vw;
    overflow: hidden; 
    display: flex; 
}


/** BIG BOTTOM IMAGE */

.bottom-form {
    width: 100%;
    height: 80vh;
    position: relative;
}

.bottom-image {
    margin: 0 10vw;
    padding: 5vw 15vw 0 15vw;
    height: 50vh;
    background-image: url(../img/back-bottom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.form-box {
    width: 50%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 25vw;
    background-color: white;
    border-bottom: 4px solid #ffdc23;
}

.form-inputs {
    width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.felement {
	margin-bottom: 1.5vw;
	width: 15vw;
	height: 2.8vw;
	font-family: 'Raleway', sans-serif;
	border: none;
    border-bottom: 2px solid #EDEDED;
	transition: all ease-in-out 0.4s;
	font-size: 1vw;
	padding: 0 0 0 0.5vw;
}

.felement:focus {
	outline: none;
	border-bottom-color: #999999;
}

textarea {
	width: 32.5vw !important;
	height: 10vw !important;
}

.send {
	margin-bottom: 1.5vw;
	padding: 2% 5%;
	border: 0px;
	font-size: 1vw;
    font-weight: bold;
	background-color: #212121;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
    transition: 0.3s;
}

.send:hover {
	background-color: #ffdc23;
	color: #ffffff;
}

.send:focus {
	outline: none;
}


/** QUOTE */

/* .quote {
    padding: 2% 0 3% 0;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.quote-text {
    margin: 0 10vw;
    padding: 3% 10% 5% 10%;
    line-height: 1.5;
    text-align: center;
    background-color: white;
    border-bottom: 4px solid #ffdc23;
}

.quote-big {
    font-size: 2.2vw;
    font-weight: bold;
}

.quote-small {
    font-size: 1.2vw;
} */


/** CONTACTS and DOCUMENTS */

.contacts {
    margin: 10vh 0;
    width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.firstbig {
	width: 39%;
	height: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.secondbig {
	width: 39%;
	height: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.title {
	font-size: 3.5vh;
	font-weight: 600;
	color: #212121;
}

.footer-text {
	font-size: 1vw;
	color:#545454;
}

.email {
	text-decoration: none;
	color: #ffdc23;
	transition: all 0.3s ease;
}

.contacts p {
	padding: 0;
	margin: 0;
}

.for-icon {
    margin-top: 0.5vw;
	display: flex;
	flex-direction: row;
}

.icon {
    margin-right: 0.5vw;
	width: 1.6vw;
	height: 1.6vw;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.ico1 {
	background-image: url(../img/adresa.png);
}

.ico2 {
	background-image: url(../img/tel.png);
}

.ico3 {
	background-image: url(../img/email.png);
}

.doc {
    color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.doc:hover {
	color: #ffdc23;
}

#map { 
	z-index: 3;
	width: 100%; 
	height: 100%;
}


/** FOOTER */

.copyright {
	padding: 0.1% 10%;
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #212121;
	color: white;
	font-size: 0.9vw;
}

.copyright p {
	margin: 0.3vw;
}

.copyright a {
	text-decoration: none;
	color: #ffdc23;
}

.footer-align {
    text-align: right;
}