@media screen and (max-width: 992px) {
    /** HEADER WITH IMAGE */

    .links {
        width: 20%;
    }

    .link {
        margin-left: 10%;
        width: 40%;
        height: 100%;
    }
    
    .subhead {
        margin-bottom: 5vh;
        font-size: 5vw;
    }

    .big {
        font-size: 10vw;
        line-height: normal;
    }

    .small {
        font-size: 10vw;
    }


    /** FORM AND IMAGE */

    .bottom-form {
        height: 40vh;
    }

    .bottom-image {
        margin: 0;
        height: 30vh;
    }

    .form-box {
        width: 80%;
        height: 25vh;
        left: 10%;
    }


    /** CONTACTS AND DOCUMENTS */

    #map {
        display: none;
    }


    /** FOOTER */

    .copyright {
        height: 5vh;
        font-size: 1vh;
    }
}