@media screen and (max-width: 992px) {
    /** HEADER WITH IMAGE */

    .links {
        width: 20%;
    }

    .link {
        margin-left: 10%;
        width: 40%;
        height: 100%;
    }
    
    .subhead {
        margin-bottom: 5vh;
        font-size: 5vw;
    }

    .big {
        font-size: 10vw;
        line-height: normal;
    }

    .small {
        font-size: 10vw;
    }

    /** ABOUT US */

    .oficial {
        padding-top: 4vh;
        margin-bottom: 4vh;
    }

    .subhead-oficial {
        font-size: 3vw;
    }

    .header-oficial {
        font-size: 4.4vw;
    }

    .text-oficial {
        width: 35vw;
        height: auto;
    }

    .main-oficial {
        width: 75vw;
    }

    .smalltext-oficial {
        width: 100%;
        font-size: 2.2vw;
        line-height: 1.2;
    }

    .small-subhead-oficial {
        font-size: 2.3vw;
    }

    .oficial-hr hr {
        border: none;
        background-color: #ffdc23;
        height: 1.5px;
    }

    .pic-oficial {
        width: 40vw;
        height: 55vw;
    }


    /** VIDEO */
    
    .with-video {
        margin-bottom: 4vh;
    }

    .video-text {
        margin-left: 5vw;
        width: 30vw;
        height: auto;
        text-align: justify;
    }
    
    .video {
        margin-bottom: 10vh;
        width: 40vw;
        overflow: hidden; 
        display: flex; 
    }


    /** FORM AND IMAGE */

    .bottom-form {
        height: 40vh;
    }

    .bottom-image {
        margin: 0;
        padding: 4vh 10% 0 10%;
        height: 30vh;
    }

    .form-box {
        width: 80%;
        height: 25vh;
        left: 10%;
        border-bottom: 2px solid #ffdc23;
    }

    .felement {
        width: 30vw;
        height: 3vh;
        font-size: 2vw;
        border-radius: 0;
        border-bottom: 1.5px solid #EDEDED;
    }

    .felement:first-child {
        margin-right: 2vw;
    }

    .felement:last-child {
        margin-left: 2vw;
    }

    textarea {
        margin-top: 1vh;
        width: 64vw !important;
        height: 9vh !important;
    }

    .send {
        margin: 1vh 0 0.5vh 0;
        padding: 2.5% 5%;
        font-size: 2.2vw;
        white-space: nowrap;
    }

    .for-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    /** CONTACTS AND DOCUMENTS */

    #map {
        display: none;
    }


    /** FOOTER */

    .copyright {
        height: 5vh;
        font-size: 1vh;
    }
}