@media screen and (max-width: 992px) {
    /** HEADER WITH IMAGE */

    .links {
        width: 20%;
    }

    .link {
        margin-left: 10%;
        width: 40%;
        height: 100%;
    }
    
    .subhead {
        margin-bottom: 5vh;
        font-size: 5vw;
    }

    .big {
        font-size: 10vw;
        line-height: normal;
    }

    .small {
        font-size: 10vw;
    }

    /** ABOUT US */

    .oficial {
        padding-top: 8vw;
        margin-bottom: 5vw;
    }

    .subhead-oficial {
        font-size: 3vw;
    }

    .header-oficial {
        font-size: 4.4vw;
    }

    .text-oficial {
        margin-right: 3vw;
        width: 37vw;
        height: auto;
    }

    .main-oficial {
        width: 80vw;
    }

    .smalltext-oficial {
        width: 100%;
        font-size: 2.7vw;
        line-height: 1.2;
    }

    .small-subhead-oficial {
        margin-top: 0;
        font-size: 2.8vw;
    }

    .oficial-hr {
        display: none;
    }

    .pic-oficial {
        width: 40vw;
        height: 30vh;
    }


    /** VIDEO */
    
    .with-video {
        margin-bottom: 4vw;
        height: 70vw;
        position: relative;
    }

    .video-text {
        width: 35vw;
        height: auto;
    }

    .video-text .main-oficial {
        width: 80vw;
        position: absolute;
        left: 10vw;
    }

    .video-text .main-oficial .smalltext-oficial {
        width: 100%;
    }

    .video-text .main-oficial .smalltext-oficial p:first-child {
        margin-top: 0;
    }
    
    .video {
        width: 40vw;
    }

    video {
        object-position: top;
    }


    /** FORM AND IMAGE */

    .bottom-form {
        height: 40vh;
    }

    .bottom-image {
        margin: 0;
        padding: 4vh 10% 0 10%;
        height: 30vh;
    }

    .form-box {
        width: 80%;
        height: 25vh;
        left: 10%;
        border-bottom: 2px solid #ffdc23;
    }

    .felement {
        width: 30vw;
        height: 3vh;
        font-size: 2.4vw;
        border-radius: 0;
        border-bottom: 1.5px solid #EDEDED;
    }

    .felement:first-child {
        margin-right: 2vw;
    }

    .felement:last-child {
        margin-left: 2vw;
    }

    textarea {
        margin-top: 1vh;
        width: 64vw !important;
        height: 9vh !important;
    }

    .send {
        margin: 1vh 0 0.5vh 0;
        padding: 2.5% 5%;
        font-size: 2.2vw;
        white-space: nowrap;
    }

    .for-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    /** CONTACTS AND DOCUMENTS */

    .contacts {
        margin: 4vh 0;
    }

    .firstbig {
        width: 80%;
        height: auto;
    }

    .firstbig .subhead-oficial {
        margin-bottom: 2.3vh;
    }

    .last-subhead {
        margin-top: 3.5vh;
    }

    .footer-text {
        font-size: 2.7vw;
    }

    .icon {
        margin-right: 1.5vw;
        width: 2.4vh;
        height: 2.4vh;
    }

    .media-doc {
        margin-top: 0.7vh;
    }

    .secondbig {
        display: none;
    }

    .tel-for-ios {
        color: inherit;
        text-decoration: none;
    }


    /** FOOTER */

    .copyright {
        height: 6vh;
        font-size: 2.4vw;
    }
}